// ==
$wp-search-input-bg:              #292929 !default;
$wp-search-input-border-color:    lighten($wp-search-input-bg, 5%) !default;

// ==
.search {
  &-form {
    position: relative;

    label {
      margin: 0;
      display: block;
      font-weight: 400;
    }
  }

  &-field {
    font-family: $headings-font-family;
    font-size: 12px;
    font-style: italic;
    @extend .form-control;
  }

  &-submit {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;

    @extend .btn;
    @extend .btn-primary;
  }
}

// Header search
.header-search {
  .search-field {
    height: 44px;
    color: #696969;
    background-color: $wp-search-input-bg;
    border: solid 1px $wp-search-input-border-color;
    @include placeholder(#696969);

    &:focus {
      box-shadow: none;
      border-color: lighten($wp-search-input-border-color, 5%);
    }
  }

  .search-submit {
    padding-left: 20px;
    padding-right: 20px;
    height: 44px;
  }
}
