.widget-area {
  .widget-title {
    font-size: 18px;
    font-family: $font-2nd;
    font-weight: bold;
    color: #4c4c4c;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.widget {
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;

  .widget-title {
    margin-bottom: 20px;
  }

  a:hover {
    text-decoration: none;
  }

  select {
    max-width: 100%;
  }
}

.widget_archive > ul,
.widget_categories > ul,
.widget_pages > ul,
.widget_meta > ul,
.widget_recent_comments > ul,
.widget_recent_entries > ul,
.widget_nav_menu ul.menu {
  font-size: 14px;

  li {
    margin-bottom: 10px;
  }

  a {
    color: $color-5th;

    &:hover,
    &:focus {
      color: $link-hover-color;
      font-weight: 500;
    }
  }

  ul.children,
  ul.sub-menu {
    margin-top: 10px;
    padding-left: 15px;
  }
}

.widget_calendar table {
  margin: 0;
  width: 100%;
  position: relative;

  td,
  th {
    padding: 0;
    line-height: 3;
    text-align: center;
  }

  caption {
    color: $color-3rd;
    padding-top: 0;
    padding-bottom: 12px;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
  }

  thead tr th {
    color: $color-3rd;
    font-weight: 400;
  }

  tbody tr td {
    font-size: 12px;
  }

  tbody a {
    color: black;
    font-weight: 700;
    display: block;
    background-color: #f0f0f0;
    &:hover,
    &:focus {
      background-color: darken(#f0f0f0, 10%);
    }
  }

  tfoot {
    height: 0;
    display: inline-block;
    overflow: hidden;
  }

  tfoot a {
    top: 7px;
    position: absolute;
    line-height: 1;
  }

  #prev a {
    left: 0;
  }

  #next a {
    right: 0;
  }

  #today,
  #today a {
    color: white;
    background-color: $color-1st;
    &:hover,
    &:focus {
      color: white;
      background-color: darken($color-1st, 20%);
    }
  }
}
// .widget_search input {
//   @extend .form-control;
// }
.widget-posts {
  .post {
    @include clearfix;

    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .post-image {
    width: 70px;
    float: left;
    margin-right: 15px;
    padding-top: 5px;
  }

  .post-title {
    margin-bottom: 10px;
    line-height: 1.5em;

    a {
      color: #666;

      &:hover,
      &:focus {
        color: $link-hover-color;
      }
    }
  }

  .post-meta {
    font-size: 12px;
    color: #b3b3b3;
    line-height: 1;
  }
}

.sociallist {
  a {
    font-size: 18px;
    color: #ccc;
    margin-right: 15px;

    &:hover,
    &:focus {
      color: $link-hover-color;
    }
  }
}
