/* Text meant only for screen readers. */
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}

/* Alignments. */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  @include center-block;
}

/* Authors */
.pl-author__thumb {
  // @extend .pl-comment__thumb;

  width: 170px; height: 170px;
}

.pl-author__body {
  // @extend .pl-comment__body;
}

.pl-author__left {
  // @extend .pl-comment__left;
}

.pl-author__name {
  // @extend.pl-comment__name;
  font-weight: 900;
  text-transform: uppercase;
}

.pl-author__time {
  // @extend .pl-comment__time;
}

/* Captions */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;

  img[class*="wp-image-"] {
    @include center-block;
  }

  .wp-caption-text {
    margin: 0.8075em 0;
  }
}

.wp-caption-text {
  text-align: center;
}

/* Gallerires */
.gallery {
  margin-bottom: 1.5em;
  @include clearfix;

  > .gallery-item {
    float: left;
  }
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;

  .gallery-columns-2 & {
    max-width: 50%;
  }

  .gallery-columns-3 & {
    max-width: 33.33%;
  }

  .gallery-columns-4 & {
    max-width: 25%;
  }

  .gallery-columns-5 & {
    max-width: 20%;
  }

  .gallery-columns-6 & {
    max-width: 16.66%;
  }

  .gallery-columns-7 & {
    max-width: 14.28%;
  }

  .gallery-columns-8 & {
    max-width: 12.5%;
  }

  .gallery-columns-9 & {
    max-width: 11.11%;
  }
}

.gallery-caption {
  display: block;
}




