/* html */
* {
	outline: none;
}
html, body {
	font-size: 14px;
	overflow-x: hidden;
	position: relative;
}
/* Links */
a {
  transition: all .3s ease;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
/* Lists */
ul,
ol {
	margin: 0;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

