blockquote {
  color: $color-4th;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  padding: 31px 30px 30px 104px;
  position: relative;
  border-left: 0;
  background-color: rgba(86, 191, 209, 0.07);

  @include media(">=sm") {
    margin-left: 25px;
  }

  &:before {
    content: "“";
    font-size: 126px;
    line-height: 1;
    color: $color-1st;
    position: absolute;
    top: 34px;
    left: 42px;
  }

  cite,
  footer,
  small {
    display: block;
    margin-top: 12px;
    margin-left: -4px;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;

    &:before {
      content: "- ";
    }
  }
}

.blockquote--dark {
  background-color: #888d99;
  color: #fff;

  cite,
  footer,
  small {
    color: #fff;
  }

  &:before {
    color: #fff;
  }
}
