// ==
.btn {
  font-size: 12px;
  text-transform: uppercase;

  &:focus,
  &:active,
  &.active {
    outline: none;
    box-shadow: none;
  }
}

.btn-xs {
  font-size: 10px;
  padding: 3px 7px;
}

.btn-sm {
  font-size: 10px;
  padding: 6px 12px;
}

.btn-lg {
  font-size: 12px;
  padding: 12px 25px;
  letter-spacing: 1px;
}

.btn-arrow {
  padding: 8px !important;

  &.btn-sm {
    padding: 5px 10px !important;
  }

  &.slick-disabled {
    opacity: 0.25;
  }
}

.btn-dark {
  @include button-variant($color-white, $color-dark, $color-dark);
}

.btn-white {
  @include button-variant($color-dark, $color-white, $color-white);
}
