.form-control {
  padding: 9px 17px;
  border-color: #e6e6e6;
  background-color: transparent;
  box-shadow: none;
  font-weight: 500;

  &:hover,
  &:focus {
    border-width: 2px;
    border-color: $color-1st;
    padding: 8px 16px;
    box-shadow: none;
  }

  /* &:invalid {
    border-width: 2px;
    border-color: $brand-danger;
    padding: 8px 16px;
  } */
}

/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
} */

/* button:not(.search__button):not(.slick-arrow):not(.post-sharing):not(.mejs-button button),
input[type="submit"],
.button.wc-backward {
  @extend .btn;
  @extend .btn-primary;

  border: 0;
} */

input[type=number] {
  -moz-appearance:textfield;
}

label {
  color: #000;
  font-weight: normal;
}
