//==
.form-control {
  border-color: $color-dark;

  &-dark,
  &.dark {
    border-color: $color-dark;
  }

  &:focus {
    box-shadow: none;
    border-color: $primary-color !important;
  }
}

.form-control {
  box-shadow: none;

  &.form-small {
    height: 30px;
  }

  &-search {
    border-color: $border-color;
    border-radius: 35px;
    padding-left: 35px;
  }
}

// Form search
.form-search {
  position: relative;

  &-icon {
    color: #999;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
    margin-left: 15px;
  }
}

.hide-show-password-wrapper {
  position: relative;
  width: 100% !important;

  .hide-show-password-toggle {
    color: #999;
    position: absolute;
    border: none;
    background: transparent;
    right: 8px !important;
    top: 8px !important;

    &:hover,
    &:focus {
      background: #f3f3f3;
    }
  }
}

select {
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAAV1BMVEWpqan///+pqampqampqampqampqampqampqampqampqampqampqampqampqampqampqampqampqampqampqampqampqampqampqampqampqampqampqakr0C7NAAAAHHRSTlMAAAgKDxAUFhkcHSAuMKm2uby+v8HGytbZ297y/8MrnAAAAE1JREFUeAFjYEQD1BFgQAK4BHj4mIEcVkFemICQjAATA4uYjAhMgF1chp9NVEaCA24Gh4SMtIwkJ5KhnJIyUlwotnAJc4MootxBE+8DAD4hA1La0r4ZAAAAAElFTkSuQmCC) no-repeat right 5px center !important;
  // background-size: 8px 10px !important;

  // Have to include vendor prefixes as the `appearance` property isn't part of the CSS spec.
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  // IE9 hacks to hide the background-image and reduce padding
  padding-right: 22px !important;
  background-image: none \9;

  // Hides the default caret in IE11
  &::-ms-expand {
    opacity: 0;
  }
}

.input-number {
  // border: solid 1px #ccc;
  display: inline-block;
  overflow: hidden;

  position: relative;
  width: 115px;

  input[type="number"] { -moz-appearance: textfield; }
  ::-webkit-inner-spin-button { -webkit-appearance: none;}
  ::-webkit-outer-spin-button { -webkit-appearance: none;}

  input[type="number"],
  input[type="text"] {
    color: #333;
    font-weight: 400;

    width: 100%;
    height: 33px;

    padding-left: 15px;
    padding-right: 15px;

    font-size: 14px;

    border-radius: 0;
    border: none;
    display: inline-block;
    text-align: center !important;

    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;

    &:focus {
      border-color: #aaa;
    }
  }

  .number-inc,
  .number-dec {
    color: white;
    background-color: #333;
    display: inline-block;
    border: none;
    padding: 0;
    font-weight: 700;

    width: 30px;
    height: 33px;
    line-height: 33px;

    font-weight: 400;
    text-align: center;

    position: absolute;
    top: 0;

    border: solid 1px #333;

    &:hover,
    &:focus {
      color: white;
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }

  .number-inc {
    right: 0;
  }

  .number-dec {
    left: 0;
  }
}

.input-group-coupon .btn {
  padding-top: 8px;
  padding-bottom: 7px;
}
