.owl-carousel {
  .owl-nav {
    .owl-prev,
    .owl-next {
      top: 50%;
      position: absolute;
      text-decoration: none;
      width: 20px;
      height: 30px;
      margin-top: -15px;

      padding: 0;
      border: none;
      outline: none;

      overflow: hidden;
      text-indent: 101%;
      white-space: nowrap;

      &:before {
        font-family: "aweicon";
        text-indent: 0;
        position: absolute;
        left: 0;
        width: 20px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 20px;
      }
    }

    .owl-prev {
      left: -25px;

      &:before {
        content: "\e605";
      }
    }

    .owl-next {
      right: -25px;

      &:before {
        content: "\e606";
      }
    }

    .disabled {
      opacity: 0.5;
      cursor: default;
    }

    @include media('<=sm') {
      .owl-prev,
      .owl-next {
        background: rgba(0, 0, 0, 0.5);

        &:before {
          font-size: 14px;
          color: #fff;
        }
      }

      .owl-prev {
        left: 0;
      }

      .owl-next {
        right: 0;
      }
    }
  }

  .owl-dots {
    display: block;
    margin-top: 10px;
    text-align: center;

    .owl-dot {
      display: inline-block;
      padding: 0 5px;

      span:before {
        font-size: 10px;
        font-family: "aweicon";
        content: "\e608";
      }

      &.active > span:before {
        content: "\e609";
      }
    }
  }
}

.owl-carousel-inset {
  .owl-nav {
    .owl-prev {
      left: 0;
    }

    .owl-next {
      right: 0;
    }
  }

  .owl-dots {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 25px;
  }

  .owl-prev,
  .owl-next {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
  }

  &:hover {
    .owl-prev,
    .owl-next {
      opacity: 1;
      visibility: visible;

      &.disabled {
        opacity: 0.5;
      }
    }

    .owl-nav {
      .owl-prev {
        left: 25px;
      }

      .owl-next {
        right: 25px;
      }
    }
  }
}

.owl-carousel .owl-item img {
  display: inline;
  width: auto;
}

.home-section-posts.owl-carousel  > .owl-nav {
  position: absolute;
  right: 0;
  top: -85px;

  .owl-prev {
    margin-right: 10px;
  }

  .owl-prev,
  .owl-next {
    border: 1px solid #333;
    display: inline-block;
    left: 0;
    position: relative;
    width: 30px;
    height: 30px;
    @include transition(all 0.25s ease);

    &:before {
      font-size: 12px;
      width: 28px;
    }

    &:hover {
      color: #fff;
      background: #333;

      &:before {
        color: #fff;
      }
    }
  }
}

.products.owl-carousel {
  .owl-prev,
  .owl-next {
    margin-top: 0;
    top: 33%;
  }
}


.lasted-portfolio-carousel.owl-carousel,
.products.owl-carousel {
  > .owl-nav {

    .owl-prev,
    .owl-next {
      margin-top: 0;
      top: 33%;

      @include size(40px);
      line-height: 40px;
      text-align: center;
      padding: 0;

      color: white;
      background-color: rgba(black, 0.75);

      opacity: 0;
      visibility: hidden;
      transition: all 0.25s ease;
      z-index: 999;

      &:before {
        @include size(40px);
        font-size: 14px;
        line-height: 40px;
        text-align: center;
      }
    }

    .owl-prev {
      left: 15px;
    }

    .owl-next {
      right: 15px;
    }
  }

  &:hover {
    > .owl-nav {

      .owl-prev,
      .owl-next {
        opacity: 1;
        visibility: visible;

        &.disabled {
          opacity: 0.5;
        }
      }

      .owl-prev {
        left: 0;
      }

      .owl-next {
        right: 0;
      }
    }
  }
}
