// Pagination
ul.page-numbers {
	text-align: center;
	padding: 20px 0;
	font-size: 16px;
  font-weight: 500;

  li {
    display: inline-block;
    margin-right: 4px;
  }

  .page-numbers {
    height: 28px;
    line-height: 28px;
    width: 28px;
    text-align: center;
    border-radius: 50%;
    display: block;

    &.next {
      margin-left: 8px;
    }

    &.prev {
      margin-right: 8px;
    }
  }

  a:hover,
  a:focus,
  span.current {
    background-color: $link-hover-color;
    color: #fff;
    text-decoration: none;
  }
}

.page-links {
  > a,
  > span {
    height: 28px;
    line-height: 28px;
    width: 28px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
  }

  > a:hover,
  > a:focus,
  > span {
    background-color: $link-hover-color;
    color: #fff;
    text-decoration: none;
  }
}
