//==
.progress {
  height: 15px;
  border-radius: 0;
  box-shadow: none;
  overflow: visible;
  margin-top: 10px;
  margin-bottom: 50px;

  &.progress-small {
    height: 3px;
  }
}

.progress-bar {
  color: $color-white;
  line-height: 18px;
  box-shadow: none;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  padding-left: 5px;

  .percent {
    position: absolute;
    right: 0;
  }

  .progress-small & {
    color: $color-dark;
    line-height: 30px;
    padding-left: 0;

    .percent {
      color: lighten($color-dark, 25%);
      right: -10px;
      bottom: 100%;
    }
  }
}
