// Variable
$awe-price-slider-size: 15px !default;

.ranger-wrapper {
  margin-bottom: 25px;
}

.price_slider.ui-slider,
.ranger.ui-slider {
  height: 3px !important;
  background: #e1e1e1 !important;
  position: relative;
  border: none;
  border-radius: 0 !important;

  .ui-slider-range {
    background: #ffa200 !important;
    border: medium none;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .ui-slider-handle {
    background: url('../img/ranger-bar.png') no-repeat center center #b9b9b9 !important;
    cursor: pointer;
    height: $awe-price-slider-size;
    width: $awe-price-slider-size;
    position: absolute;
    z-index: 2;
    border-radius: 0 !important;

    margin-left: 0;
    top: -($awe-price-slider-size/2);

    border-radius: 0;
    border: none;
    transition: left 0.15s ease;

    &:focus,
    &:active {
      outline: none;
    }
  }
}
