// ==
.section-header {
  margin-bottom: 50px;
  @include clearfix();

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    text-transform: uppercase;

    &.medium {
      font-size: 30px;
    }
  }

  p {
    color: $gray;
    font-size: 16px;
    margin-bottom: 0;

    &.medium {
      font-size: 14px;
    }
  }
}
