body {
  overflow-x: hidden;
  position: relative;
}
a {
  transition: all .3s ease;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  letter-spacing: 1px;
}

/* Lists */
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

// body.admin-bar {
//   .navbar.affix,
//   .navbar.fixed {
//     @include media(">=md") {
//       margin-top: 32px;
//     }
//   }

//   .navbar-mobile.affix {
//     @include media(">=600px") {
//       margin-top: 46px;
//     }
//   }
// }
  