/* Color helpers */
.white {
  color: #fff;
}
.dark {
  color: #000;
}
.gray {
  color: #898989;
}

/* Bg hepers */
.bg-lighten {
  background-color: #f9f9f9;
}

.bg-gray {
  background-color: #f4f4f4;
}

.bg-dark {
  background-color: #333;
}

.bg-darken {
  background-color: darken(#333, 5%);
}

/* Font size */
.tiny {
  font-size: 10px;
}
.small {
  font-size: 12px;
}
.medium {
  font-size: 14px;
}
.large {
  font-size: 16px;
}

/* Font weight helpers */
.light {
  font-weight: 300;
}
.normal {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}

/* Text helpers */
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.upper,
.text-upper {
  text-transform: uppercase;
}

.spacing-5 {
  letter-spacing: 5px;
}
.spacing-10 {
  letter-spacing: 10px;
}

/* Display helpers */
.block {
  display: block !important;
}
.inline-block {
  display: inline-block !important;
}
.inline {
  display: inline !important;
}

/* Margin and padding helpers */
@each $pt in 0, 30, 50, 70, 145  {
  .pt-#{$pt} {
    padding-top: #{$pt}px !important;
  }
}

@each $pr in 15  {
  .pr-#{$pr} {
    padding-right: #{$pr}px !important;
  }
}

@each $pb in 0, 40, 50, 100 {
  .pb-#{$pb} {
    padding-bottom: #{$pb}px !important;
  }
}

@each $pl in 15  {
  .pl-#{$pl} {
    padding-left: #{$pl}px !important;
  }
}

@each $mt in 0, 30, 50 {
  .mt-#{$mt} {
    margin-top: #{$mt}px !important;
  }
}

@each $mb in 0, 10, 15, 30, 35, 40, 50, 60, 100, 120 {
  .mb-#{$mb} {
    margin-bottom: #{$mb}px !important;
  }
}


/* Border helpers */
// .border-left {
//   border-left: solid 1px $border-color;
// }
// .border-right {
//   border-right: solid 1px $border-color;
// }
// .border-top {
//   border-top: solid 1px $border-color;
// }
// .border-bottom {
//   border-bottom: solid 1px $border-color;
// }

/* Fullpage */
// .fp-table {
//   display: table;
//   table-layout: fixed;

//   &,
//   &-cell {
//     width: 100%;
//     height: 100%;
//   }

//   &-cell {
//     text-align: center;
//     display: table-cell;
//     vertical-align: middle;
//   }
// }

/* Col centered */
// .col-centered {
//   float: none;
//   @include center-block();
// }

// /* Col border */
// @include media('>sm') {
//   .cols-border {
//     > [class*='col-'] {
//       border-right: solid 1px $border-color;

//       &:last-child {
//         border-right: transparent;
//       }
//     }
//   }
// }

/* No gutter */
// .no-gutter {
//   margin-left: 0;
//   margin-right: 0;

//   > [class*='col-'] {
//     padding-right:0;
//     padding-left:0;
//   }
// }

/* White pop-up */
// .white-popup {
//   position: relative;
//   background: #fff;
//   padding: 20px;
//   width: auto;
//   max-width: 500px;
//   margin: 20px auto;
// }

/* Embed 1:1 */
// .embed-responsive-1by1 {
//   padding-bottom: 100%;
// }

// .underline:after {
//   content: '';
//   display: block;
//   width: 75px;
//   height: 0;
//   margin: 15px auto 0 auto;
//   border-bottom: solid 3px $color-dark;
// }

/* Margin and padding helpers */
// @for $i from 1 through 20 {
//   $name: $i*5;
//   $size: #{$name}px;

//   /* Margin */
//   .margin-vertical-#{$name} {
//     margin-top: $size !important;
//     margin-bottom: $size !important;
//   }

//   .margin-horizontal-#{$name} {
//     margin-left: $size !important;
//     margin-right: $size !important;
//   }

//   .margin-top-#{$name} {
//     margin-top: #{$size} !important;
//   }

//   .margin-bottom-#{$name} {
//     margin-bottom: #{$size} !important;
//   }

//   /* Padding */
//   .padding-vertical-#{$name} {
//     padding-top: $size !important;
//     padding-bottom: $size !important;
//   }

//   .padding-horizontal-#{$name} {
//     padding-left: $size !important;
//     padding-right: $size !important;
//   }

//   .padding-top-#{$name} {
//     padding-top: #{$size} !important;
//   }

//   .padding-bottom-#{$name} {
//     padding-bottom: #{$size} !important;
//   }
// }

// .embed-responsive-wide {
//   padding-top: 40%;
// }

// .margin-left-10 {
//   margin-left: 10px !important;
// }
// /* Fix css visual composer */
// .category-media-caption .vc_column-inner {
//   padding-top: 0px;
// }