// Blog
.entry-title {
  font-size: 2.6rem;
  font-family: $font-2nd;
  font-weight: bold;
  word-break: break-word;
  margin-bottom: 11px;
  line-height: 1.4em;

  a {
    color: $color-4th;

    &:hover {
      text-decoration: none;
    color: #56bfd1;
    }
  }
}

.single .entry-content {
  overflow: hidden;
}

.format-gallery .entry-header {
  min-height: 300px;
}

.single .format-gallery .entry-header {
  height: auto;
}

#main {
  .post,
  .page {
    background-color: #ffffff;
    margin-bottom: 30px;
    box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.02);

    .entry-container {
      padding: 38px 30px 3px 30px;
    }
  }
}

.single .post,
.page .page {
  margin-bottom: 15px;
}

.entry-meta-list {
  padding-left: 0;
  margin-bottom: 16px;

  li {
    display: inline-block;
    list-style: none;
    color: #b2b2b2;

    &.comment-link i {
      color: #56bfd1;
      padding-right: 5px;
    }

    a {
      color: #b2b2b2;
    }

    a:hover {
      text-decoration: none;
      color: #56bfd1;
    }
  }

  > li + li:before {
    content: "|";
  padding: 0 10px;
  font-size: 12px;
  }
}

.entry-content {
  line-height: 24px;

  blockquote {
    margin-top: 20px;
  }

  table {
    @extend .table;
  }
}

.entry-footer {
  padding: 0 30px 30px 30px;

  .entry-more-link {
    font-size: 16px;
    display: inline;
    color: $color-4th;
    font-family: $font-2nd;
    text-transform: uppercase;
    font-weight: 700;

    &:hover,
    &:focus {
      text-decoration: none;
      color: #56bfd1;
    }
  }

  .post-sharing {
    float: right;
  }
}

// Audio
.embed-responsive-audio {
  padding-bottom: 25% !important;

  &.audio-embed-wp {
    padding-bottom: 30px !important;
  }
}

// Video
.post.format-video {
  position: relative;

  .entry-header {
    overflow: hidden;
    position: relative;
  }

  .embed-responsive-video,
  .entry-media-oembed > a {
    padding-top: 37%;
  }

  .entry-media-oembed {
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    >a {
      height: 0;
      display: block;
      position: relative;
      overflow: hidden;

      >img {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        width: 100%;
        height: auto;
      }
    }

  &.open {
    transition: all 0.5s ease;
    transform: translateY(-100%);
    }
  }
}

.entry-media .rentahotel-play {
  font-size: 25px;
  width: 75px;
  height: 45px;
  line-height: 50px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -30px;
  margin-left: -30px;
  transition: all ease 0.25s;
  font-weight: 400;
  color: white;
  display: inline-block;
  text-align: center;
  border-radius: 10%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  height: 100%;
  width: 100%;
  border: 0;

  @include absolute(0,0,null,0);
}

// Quote
.entry-quote {
  blockquote {
    margin: 0;
    font-size: 16px;
    padding: 40px 100px;

    cite,
    small {
      font-size: 18px;
    }
  }
}

// .entry-quote,
.entry-link {
  position: relative;
  background-color: #888d99;
  color: #fff;
}

.entry-link {
  .post-link {
    border: none;
    padding: 80px 35px 30px 25px;
    font-size: 14px;
    font-weight: 400;
    color:  #fefefe;

    a {
      font-size: 16px;
      color: #fefefe;
    }

    .entry-title {
      font-size: 20px;
      color: #fefefe;
    }
  }

  .link-icon {
    @include absolute(25px,null,null,25px);

    .fa {
      font-size: 28px;
    }
  }
}

@include media(">=xs") {
  .entry-link {

    .post-link {
      padding: 40px 100px;
    }

    .link-icon {
      @include absolute(40px,null,null,40px);
    }
  }
}

// Tags
.post-tags a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  background-color: $color-6th;
  border-radius: $border-radius-base;
  margin-right: 10px;
  padding: 5px 10px;
  color: #999999;
  display: inline-block;
  margin-bottom: 10px;

  &:hover,
  &:focus {
    background-color: $link-hover-color;
    color: #fff;
  }
}

// Time
.updated:not(.published) {
  display: none;
}

// Post sharing
.post-sharing {
  > button {
    background-color: transparent;
    border: none;
    color: $color-3rd;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
    transform: scaleX(1.0045);

    &:hover,
    &:focus,
    &:active:hover,
    &:active:focus {
      color:  $link-hover-color;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }

  > ul {
    right: 0;
    left: auto;
    background-color:  #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    width: 138px;
    border: none;
    border-radius: 0;
    border-top: 3px solid $link-hover-color;

    > li {
      padding: 0 10px;
      margin-bottom: 5px;

      > a {
        color: $color-3rd;
        background-color: #f2f2f2;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        padding: 5px 10px;
        border-radius: 4px;

        .fa {
          font-size: 16px;
          margin-right: 10px;

        }

        &:hover {
          color: #fff;
          background-color: $color-1st;
        }
      }
    }
  }
}

// Post navigation
.post-navigation {
  margin-bottom: 15px;
  .nav-previous {
    float: left;
  }
  .nav-next {
    float: right;
  }
  a {
    font-size: 16px;
    font-weight: 700;
    color: #b3b3b3;
    font-family: $font-2nd;
    text-transform: uppercase;

    &:hover {
      color: $link-hover-color;
    }

    .fa-angle-left {
      margin-right: 10px;
    }

    .fa-angle-right {
      margin-left: 10px;
    }
  }
}

.wpbase-social-sharing,
.post-single-tags {
  background-color: #ffffff;
  box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.02);
}

.wpbase-social-sharing {
  margin: 0;
  padding: 0px 30px;

  li {
    display: inline-block;
    padding: 30px 0;
    margin-right: 20px;

    @include media(">=xs") {
      margin-right: 40px;
    }

    a {
      color: #cccccc;
      font-size: 16px;

      &:hover {
        color: $link-hover-color;
      }
    }
  }

  > li {
    color: $link-hover-color;
  }
}

// Post tags
.post-tags-single {
  margin-top: 10px;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.02);
  .fa {
    font-size: 18px;
    font-weight: 400;
    color: #56bfd1;
    margin-right: 30px;
  }
}


// Related posts
.wpbase-related-posts {
  margin-top: 50px;

  @include media(">=xs") {
    margin-top: 90px;
  }

  h3 {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .related-posts {
    background-color: #ffffff;
    overflow: hidden;
  }

  .related-posts:not(.has-post-thumbnail) .related-posts__content{
    width: 100%;
  }

  .post, .page {
  margin-bottom: 0;
  }

  .related-posts__image {
    width: 45%;
    float: left;
  }

  .entry-title {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .entry-footer-container .entry-title {
    font-size: 13px;
  }

  .related-posts__content {
    width: 55%;
    float: left;
    padding: 20px;
  }

  .comment-link {
    display: block;

    &:before {
      content: none;
    }
  }

  .entry-meta-list {
    padding: 0;

    li a {
      font-size: 13px;
    }
  }
}

body.page-template-page-builder #main .page {
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 0;
}

.single {
  .entry-content {
    line-height: 26px;
  }
}

.post-password-form {
  input[type="submit"] {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-primary;
  }
}

.label-sticky {
  display: none;
}

.sticky {
  position: relative;

  .label-sticky {
    display: block;
    color: white;
    z-index: 10;
    width: 40px;
    height: 43px;
    background-color: $color-1st;
    padding: 10px 13px;

    @include absolute(0,20px,0,null);

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 20px solid $color-1st;
      border-right: 20px solid $color-1st;
      border-bottom: 10px solid transparent;
      z-index: -1;

      @include absolute(null,0,-10px,0);
    }
  }
}
